<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <a href="/umbrella">Umbrella</a>
    <a href="/single_ai_message">Single AI message</a>
    <a href="/ai_chat">AI Chat</a>

    <%= yield %>
  </body>
</html>
